<div class="formContainer">
    <form class="mt-5" [formGroup]="forgetpasswordForm" (ngSubmit)="forgetHandle(forgetpasswordForm)">
        <div *ngIf="apiError" class="alert alert-danger">
            {{apiError}}
        </div>
        <label for="email">Email</label>
        <input formControlName="email" type="email" name="email" id="email" placeholder="mohamedhasan@gmail.com"
            class="form-control mb-2">
        <div *ngIf="email?.errors && email?.touched" class="alert alert-danger">
            <p *ngIf="email?.errors?.['required']" class="m-0 p-0">*Email Is Required</p>
            <p *ngIf="email?.errors?.['email']" class="m-0 p-0">*Email Is InValid</p>
        </div>
        <button [disabled]="forgetpasswordForm.invalid" class="btn btn-success mb-5">
            <span *ngIf="!isLoading">Send Code</span>
            <i *ngIf="isLoading" class="fas fa-spinner fa-pulse"></i>
        </button>
    </form>
</div>