<div class="formContainer">
    <form class="mt-5" [formGroup]="resetpasswordForm" (ngSubmit)="resetHandle(resetpasswordForm)">
        <div *ngIf="apiError" class="alert alert-danger">
            {{apiError}}
        </div>
        <label for="resetCode">resetCode</label>
        <input formControlName="resetCode" type="text" name="resetCode" id="resetCode" placeholder="*********"
            class="form-control mb-2">
        <div *ngIf="resetCode?.errors && resetCode?.touched" class="alert alert-danger">
            <p *ngIf="resetCode?.errors?.['required']" class="m-0 p-0">*resetCode Is Required</p>
        </div>
        <button [disabled]="resetpasswordForm.invalid" class="btn btn-success mb-5">
            <span *ngIf="!isLoading">Reset Password</span>
            <i *ngIf="isLoading" class="fas fa-spinner fa-pulse"></i>
        </button>
    </form>
</div>